/* RESET CSS */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-family: Arial, Helvetica, sans-serif;
}
/* Common */
.col-third {
  width: 33.333%;
}
.col {
  float: left;
  padding: 0 8px;
}
.row {
  margin-left: -8px;
  margin-right: -8px;
}
.text-white {
  color: white !important;
}
.row::after {
  display: block;
  content: "";
  clear: both;
}
.text-center {
  text-align: center;
}
#main {
}
#nav {
  display: inline-block;
}
.subnav {
  list-style-type: none;
  box-shadow: 0 0 10px rgb(94, 91, 91);
}
#header {
  background-color: black;
  height: 46px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}
#header .search-btn {
  float: right;
}
#header .search-icon {
  font-size: 15px;
  line-height: 46px;
  color: white;
  padding: 0 21px;
}
#header .search-btn:hover {
  background-color: #f44336 !important;
  cursor: pointer;
}
#nav > li {
  display: inline-block;
  position: relative;
}
#nav li {
  position: relative;
}
#nav > li > a {
  color: white;
  font-size: 15px;
}
#nav li a {
  text-decoration: none;
  line-height: 46px;
  padding: 0 24px;
  display: block;
}
#nav > li:hover > a,
#nav .subnav li:hover a {
  color: black;
  background-color: gray;
}
#nav li:hover .subnav {
  display: block;
}
#nav .subnav {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
}
#nav .subnav a {
  color: black;
  padding: 0 12px;
  line-height: 38px;
}
#slider {
  margin-top: 46px;
  background: url(/assets/img/slider/chicago.jpg) top center / cover no-repeat;
  padding-top: 50%;
  position: relative;
}
#slider .slider-content {
  color: white;
  text-align: center;
  width: 100%;
  bottom: 37px;
  position: absolute;
}
#slider .text-heading {
  font-weight: 500;
  font-size: 24px;
}
#slider .text-description {
  font-size: 15px;
  margin-top: 25px;
  font-weight: bolder;
}
#content {
  min-height: 1000px;
}
#content .content-section {
  padding: 64px 0px;
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}
#content .content-heading {
  font-size: 30px;
  margin: 10px 0px;
  font-weight: 500;
  letter-spacing: 4px;
  line-height: 45px;
  text-align: center;
}
#content .content-sub-heading {
  margin: 15px 0px;
  opacity: 0.6;
  font-style: italic;
  text-align: center;
}
#content .text-about {
  margin: 15px 0px;
  text-align: justify;
  font-size: 15px;
  line-height: 1.5;
}
/* Band member */
.member-list {
  float: left;
  margin-top: 48px;
  width: 33.3333%;
  text-align: center;
}
.member-item {
}
.member-name {
  text-align: center;
  font-size: 15px;
  margin-bottom: 15px;
}
.member-img {
  width: 154px;
  border-radius: 5px;
}
/* Tour section */
.tour-section {
  background-color: black;
}
.ticket-list {
  background-color: white;
  text-align: left;
  margin-top: 40px;
}
.ticket-list li {
  font-size: 15px;
  padding: 11px 16px;
  border-bottom: 1px solid #ccc;
  color: #757575;
  list-style: none;
}
.ticket-list .sold-out {
  background-color: #f44336;
  color: white;
  padding: 3px 4px;
  margin-left: 16px;
}
.ticket-list .quantity {
  float: right;
  width: 24px;
  height: 24px;
  background-color: black;
  color: white;
  border-radius: 50%;
  text-align: center;
  line-height: 24px;
  margin-top: -3px;
}
/* Place */
.place-list {
  margin-top: 32px;
  margin-bottom: 48px;
}
.place-item {
  float: left;
  width: 33.333%;
  padding: 0px 8px;
  text-align: left;
}
.place-img {
  width: 100%;
  display: block;
}
.place-img :hover {
  opacity: 0.6;
}
.place-body {
  background-color: #fff;
  padding: 16px;
  font-size: 15px;
}
.place-heading {
  font-size: 15px;
  font-weight: 550;
}
.place-time {
  margin-top: 15px;
  color: #757575;
}
.place-des {
  margin-top: 15px;
  line-height: 1.4;
}
.place-btn {
  color: white;
  background-color: black;
  text-decoration: none;
  padding: 11px 16px;
  display: inline-block;
  margin-top: 15px;
}
.place-btn:hover {
  color: black;
  background-color: #ccc;
}
/* Footer-section */
#footer {
}
.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);

  align-items: center;
  justify-content: center;
  display: none;
}
.modal.open {
  display: flex;
}
.modal-container {
  background-color: white;
  width: 900px;
  max-width: calc(100%-32px);
  min-height: 200px;
  position: relative;
  animation: modalFadeIn ease 0.5s;
}
.modal-close {
  position: absolute;
  right: 0;
  top: 0;
  color: #fff;
  padding: 12px;
  cursor: pointer;
}
.modal-close:hover {
  color: black;
  background-color: #ccc;
}
.modal-header {
  background-color: #009688;
  height: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  color: #fff;
}
.modal-body {
  padding: 16px;
}
.modal-label {
  display: block;
  font-size: 15px;
  margin-bottom: 10px;
}
.modal-input {
  padding: 15px;
  border: 1px solid #ccc;
  width: 100%;
  font-size: 15px;
  margin-bottom: 25px;
}
#buy-tickets {
  background-color: #009688;
  font-size: 15px;
  color: #fff;
  width: 100%;
  border: none;
  padding: 17px;
}
#buy-tickets:hover {
  color: black;
  background-color: #ccc;
  opacity: 0.7;
}
.modal-footer {
  text-align: right;
  padding: 16px;
}
.modal-footer a {
  color: #2196f3 !important;
}
.modal-help {
}
.modal-heading-icon {
  margin-right: 16px;
}
@keyframes modalFadeIn {
  from {
    opacity: 0;
    transform: translateY(-150px);
  }
  to {
    opacity: 1;
    transform: translateY(-0px);
  }
}
